.testimonials{

    width:90%;
    max-width:1300px;

    margin:80px auto;

}

.title{

    text-align:center;

}

.title span{

    color:#6D4CFF;

    font-weight:bold;

}

.title h2{

    margin-top:15px;

    font-size:42px;

}

.reviews{

    margin-top:70px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.review{

    background:white;

    border-radius:25px;

    padding:35px;

    box-shadow:0 20px 40px rgba(0,0,0,.05);

}

.avatar{

    width:70px;

    height:70px;

    border-radius:50%;

    background:#6D4CFF;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:26px;

    font-weight:bold;

}

.review h3{

    margin-top:20px;

}

.review h4{

    color:#888;

    margin-top:5px;

    font-weight:normal;

}

.review p{

    margin-top:20px;

    color:#666;

    line-height:1.7;

}

@media(max-width:900px){

.reviews{

grid-template-columns:1fr;

}

}

