*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --primary:#6D4CFF;
    --secondary:#8F73FF;

    --background:#FAFAFF;

    --text:#1E1E2F;

    --gray:#707070;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Rubik',sans-serif;

    background:var(--background);

    color:var(--text);

    overflow-x:hidden;

}

body::before{

    content:"";

    position:fixed;

    top:-250px;

    left:-250px;

    width:600px;

    height:600px;

    background:#EEE9FF;

    border-radius:50%;

    filter:blur(120px);

    z-index:-1;

}

body::after{

    content:"";

    position:fixed;

    bottom:-250px;

    right:-250px;

    width:500px;

    height:500px;

    background:#D6FFF5;

    border-radius:50%;

    filter:blur(130px);

    z-index:-1;

}

button{

    cursor:pointer;

    font-family:inherit;

    transition:.3s;

}

a{

    color:inherit;

    text-decoration:none;

}

img{

    display:block;

    max-width:100%;

}

ul{

    list-style:none;

}